.card{
    background-color: #ffffff;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;



}

@media screen and (max-width: 375px) {
    .card{
        margin: 0px !important;
    }.landingMainDiv {
        padding: 20px !important;
    }.secondDivContents{
        display: none !important;
    }.backButton{
        display: none !important;
    }
}


@media screen and (max-width: 360px) {
    .card{
        margin: 0px !important;
    }.landingMainDiv {
        padding: 20px !important;
    }.secondDivContents{
        display: none !important;

    }
}

@media screen and (max-width: 768px) {
    .card{
        margin: 0px !important;
        width: 100% !important;
    }.landingMainDiv {
        padding: 20px !important;
    }
}